table, tr, td {
	border: 2px solid black;
	border-collapse: collapse;
}

button {
	width: 100px;
	height: 80px;
	font-size: 25px;
}

#result {
	text-align: right;
	padding: 0 10px;

}

.full-width {
	width: 100%;
}

